.container {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.container2 {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
	align-content: stretch;
}
.btn {
    margin-left: 20px;
}
.modal-header {
	background-color:#797A7A;
}
.btnClass {
	background-color: red;
}
a {
	margin-left: 108%;
}
.thumbnail{
	width: 80px;
	height: 80px;
	background-size: cover;
}