<h4>Recently uploads</h4>


<div class="row" >
    <div class="col-md-2"       
    
    *ngFor="let video of videos; let i = index"
    [class.active]="i == currentIndex"
    (click)="setActiveVideo(video, i)" >
      <div class="card" style="width: 18rem;">
        <div class="card-body">
          <ng-template  #content let-modal>
            <div class="modal-body">
              <a (click)="modal.dismiss('Cross click')">
                <img src="assets/Icon ionic-md-close.png">
              </a>
              <div class="container">
          
          
                <div class="video-player-wrapper">
            
                  <h2>Angular Video Player with Controls </h2>
                
                  <vg-player>
                    <vg-overlay-play></vg-overlay-play>
                    <vg-buffering></vg-buffering>
                
                    <vg-scrub-bar>
                      <vg-scrub-bar-current-time></vg-scrub-bar-current-time>
                      <vg-scrub-bar-buffering-time></vg-scrub-bar-buffering-time>
                    </vg-scrub-bar>
                
                    <vg-controls>
                      <vg-play-pause></vg-play-pause>
                      <vg-playback-button></vg-playback-button>
                
                      <vg-time-display vgProperty="current" vgFormat="mm:ss"></vg-time-display>
                
                      <vg-scrub-bar style="pointer-events: none;"></vg-scrub-bar>
                
                      <vg-time-display vgProperty="left" vgFormat="mm:ss"></vg-time-display>
                      <vg-time-display vgProperty="total" vgFormat="mm:ss"></vg-time-display>
                
                      <vg-track-selector></vg-track-selector>
                      <vg-mute></vg-mute>
                      <vg-volume></vg-volume>
                
                      <vg-fullscreen></vg-fullscreen>
                    </vg-controls>
                
                    <video [vgMedia]="media" #media id="singleVideo" preload="auto" crossorigin>
                      <source [src]="video.downloadURL" type="video/mp4">
                      <track kind="subtitles" label="English" src=""
                        srclang="en" default>
                      <track kind="subtitles" label="Arabic" src=""
                        srclang="ar">
                    </video>
                  </vg-player>
                
                </div>
                
              </div>
            </div>
          </ng-template>
          
          <button class="btn btnClass btn-primary" (click)="open(content)">Read a video</button>
        </div>
        <div class="card-footer">
          {{ video.originalName }}
        </div>
      </div>
    </div>
  </div>
