<div class="dropzone" dropzone (hovered)="toggleHover($event)" (dropped)="onDrop($event)" [class.hovering]="isHovering">

    <h2> Upload Your File</h2>
    <img src="/assets/doc.png" width="60px" height="60px">

    <div>
        <p>Drag a file here or         
            <label for="file_input_id">
                browse
                <input type="file" id="file_input_id" (change)="onDrop($event.target.files)">
            </label>
            for a file to upload
        </p>
    </div>
</div>

<div *ngIf="files.length > 0">
    Uploads
    <hr>
</div>

<div *ngFor="let file of files">
    <upload-task [file]="file"></upload-task>
</div>
