
<div class="container2">
    <p>You are Logged In!</p>
    <button class="btn btn-primary" (click)="logout()">Logout</button>
</div>

<ng-template class="modalClass" #content let-modal>
  <div class="modal-body">
    <a (click)="modal.dismiss('Cross click')">
      <img src="assets/Icon ionic-md-close.png">
    </a>
    <div class="container">
      <upload-manager></upload-manager>
    </div>
  </div>
</ng-template>

<button class="btn btnClass btn-primary" (click)="open(content)">Upload a video</button>

